.page-body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;

    .role-name-section {
        display: flex;
        justify-content: space-between;
        grid-column: span 5;
     }

     .role-navbar-section {
        // margin-bottom: 20px;
        grid-column: span 5;
     }

    .salary-summary-section {
        grid-column: span 3;
        background-color: white;
        margin: 0 5px;
        padding: 10px;
    }

    .expected-salary-section {
        grid-column: span 3;
        background-color: white;
        margin: 0 5px;
        padding: 10px;
    }

    .salary-ranking-section {
        grid-column: span 4;
        background-color: white;
        margin: 0 5px;
        padding: 10px;
    }

    .role-benchmark-section {
        grid-column: span 5;
        align-self: center;
        background-color: white;
        margin: 0 5px;
        padding: 10px;
    }

    .global-benchmark-section {
        grid-column: span 5;
        align-self: center;
        background-color: white;
        margin: 0 5px;
        padding: 10px;
    }

    .all-salaries-section {
        grid-column: span 10;
        background-color: white;
        margin: 0 5px;
        padding: 10px;
    }
}