@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Rubik', sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ededed;
}

:root {
  --mint-green-colour: #91d4d1;
  --cool-green-colour: #6fb9b9;
  --ocean-colour: #205566;
  --purple-colour: #69587b;
  --coral-colour: #f16a6f;
  --pale-orange-colour: #fea899;
  --pink-colour: #fadadd;

  /*
    Colour pairings:
    - mint & cool green
    - mint & ocean
    - mint & purple
    - mint & coral
    - mint & pale orange
    - mint & pink
  */
}